
.colornav{
    background: midnightblue;
}
.cuadroblanco{
background: rgba(255, 255, 255, .7);
margin-left: 20%;
margin-right: 20%;
margin-top: 5%;
border-radius: 20px;
}
.texto{
    margin: 1%;
    text-align: justify;
}

.cuadroazuli{
    background: rgba(1, 0, 70, 0.7);
    margin: 1%;
    border-radius: 20px;
    color: aliceblue;
    width: 200px;
    height: 200px;
    
    }
    .cuadroazul{
        background: rgba(1, 0, 70, 0.7);
        margin: 1%;
        border-radius: 20px;
        color: aliceblue;
        }
.container-img{
        display: flex;
        justify-content: center;
        align-items: center;
}
.imgKorvax{
    background-image: url("./img/Korvax.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

}