body{
    background-image: url("/img/fondoJuego.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%; 
}
.colornav{
    background: midnightblue;
}
.cuadroblanco{
background: rgba(255, 255, 255, .7);
margin: 1%;
border-radius: 20px;
}
.texto{
    margin: 1%;
    text-align: justify;
}
